{% extends 'base.html' %}

{% block title %}Add Book{% endblock %}

{% block content %}

<head>
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<h2>Add Author</h2>

<form method="post">
    {% csrf_token %}
    <div>
        <label for="id_name">Name:</label>
        {{ form.name }}
        {% if form.name.errors %}
        <div style="color: red;" id="id_name">
            {{ form.name.errors }}
        </div>
        <span id="name-help"></span>
        {% endif %}
    </div>
    <div>
        <label for="id_email">Email:</label>
        {{ form.email }}
        {% if form.email.errors %}
        <div style="color: red;">
            {{ form.email.errors }}
        </div>
        {% endif %}
    </div>
    <div>
        <label for="id_bio">Bio:</label>
        {{ form.bio }}
        {% if form.bio.errors %}
        <div style="color: red;">
            {{ form.bio.errors }}
        </div>
        {% endif %}
    </div>
    <button class="btn btn-primary" type="submit">Add Author</button>
</form>

{% endblock %}