{% extends 'base.html' %}

{% block title %}Add Book{% endblock %}

{% block content %}
    <h2>Add Book</h2>
    <hr>
    <a class="btn btn-primary" href="/add-author" role="button">Add Author</a>
    <a class="btn btn-primary" href="/authors" role="button">Authors List</a>
    <a class="btn btn-primary" href="/add-book" role="button">Add Book</a>
    <a class="btn btn-primary" href="/books" role="button">Book List</a>
    <a class="btn btn-primary" href="/add-borrow-record" role="button">Add Borrow Record</a>
    <a class="btn btn-primary" href="/borrow-records" role="button">Borrow Record List</a>
    <a class="btn btn-primary" href="/export-excel-author" role="button">Export Excel Sheet Author</a>
    <a class="btn btn-primary" href="/export-excel-book" role="button">Export Excel Sheet Book</a>
    <a class="btn btn-primary" href="/export-excel-borrow-record" role="button">Export Excel Sheet Borrow Record</a>
    <a class="btn btn-primary" href="/export-excel-author-book-borrow-record" role="button">Export Excel Sheet Author, Book, Borrow Record</a>
    <hr>

    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_title">Title:</label>
            {{ form.title }}
            {% if form.title.errors %}
                <div style="color: red;">
                    {{ form.title.errors }}
                </div>
            {% endif %}
        </div>
        <div>
            <label for="id_genre">Genre:</label>
            {{ form.genre }}
            {% if form.genre.errors %}
                <div style="color: red;">
                    {{ form.genre.errors }}
                </div>
            {% endif %}
        </div>
        <div>
            <label for="id_published_date">Published Date:</label>
            <input type="date" id="published_date" name="published_date">
            {% if form.published_date.errors %}
                <div style="color: red;">
                    {{ form.published_date.errors }}
                </div>
            {% endif %}
        </div>
        <div>
            <label for="id_author">Author:</label>
            {{ form.author }}
            {% if form.author.errors %}
                <div style="color: red;">
                    {{ form.author.errors }}
                </div>
            {% endif %}
        </div>
        <button class="btn btn-primary" type="submit">Add Book</button>
    </form>

{% endblock %}