{% extends 'base.html' %}

{% block title %}Add Borrow Record{% endblock %}

{% block content %}
    <h2>Add Borrow Record</h2>

    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_user_name">User Name:</label>
            {{ form.user_name }}
            {% if form.user_name.errors %}
                <div style="color: red;">
                    {{ form.user_name.errors }}
                </div>
            {% endif %}
        </div>
        <div>
            <label for="id_book">Book:</label>
            {{ form.book }}
            {% if form.book.errors %}
                <div style="color: red;">
                    {{ form.book.errors }}
                </div>
            {% endif %}
        </div>
        <div>
            <label for="id_borrow_date">Borrow Date:</label>
            <input type="date" id="borrow_date" name="borrow_date">
            {% if form.borrow_date.errors %}
                <div style="color: red;">
                    {{ form.borrow_date.errors }}
                </div>
            {% endif %}
        </div>
        <div>
            <label for="id_return_date">Return Date:</label>
            <input type="date" id="return_date" name="return_date">
            {% if form.return_date.errors %}
                <div style="color: red;">
                    {{ form.return_date.errors }}
                </div>
            {% endif %}
        </div>
        <button class="btn btn-primary" type="submit">Add Borrow Record</button>
    </form>

{% endblock %}