{% extends 'base.html' %}

{% block title %}Add Book{% endblock %}

{% block content %}
    <h2>Add Author</h2>
    <hr>
    <a class="btn btn-primary" href="/add-author" role="button">Add Author</a>
    <a class="btn btn-primary" href="/authors" role="button">Authors List</a>
    <a class="btn btn-primary" href="/add-book" role="button">Add Book</a>
    <a class="btn btn-primary" href="/books" role="button">Book List</a>
    <a class="btn btn-primary" href="/add-borrow-record" role="button">Add Borrow Record</a>
    <a class="btn btn-primary" href="/borrow-records" role="button">Borrow Record List</a>
    <a class="btn btn-primary" href="/export-excel" role="button">Export Excel Sheet</a>
    <hr>
    <form method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="bio">Bio:</label><br>
        <textarea id="bio" name="bio" required></textarea><br><br>
        
        <button class="btn btn-primary" type="submit">Add Author</button>
    </form>
{% endblock %}