{% extends 'base.html' %}

{% block title %}Add Book{% endblock %}

{% block content %}
        <h1>Library Management System, Hello, this is the library app!</h1>
        <hr>
        <a class="btn btn-primary" href="/add-author" role="button">Add Author</a>
        <a class="btn btn-primary" href="/authors" role="button">Authors List</a>
        <a class="btn btn-primary" href="/add-book" role="button">Add Book</a>
        <a class="btn btn-primary" href="/books" role="button">Book List</a>
        <a class="btn btn-primary" href="/add-borrow-record" role="button">Add Borrow Record</a>
        <a class="btn btn-primary" href="/borrow-records" role="button">Borrow Record List</a>
        <a class="btn btn-primary" href="/export-excel" role="button">Export Excel Sheet</a>
{% endblock %}